.title{
    position:relative;
    left:0;
    top:140px;
}
.title span{
    margin-right:100px;
}

.inner{
width:50px;
    height:15px;
    border:1px solid #000;
    margin-left:13px;
    margin-top:13px;
    text-align:center;
    line-height:15px;
    float:left;
}