  <%include ../common/head.html%>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb" style="width:98%;margin:0 auto 10px">
                        <li><a href="#">新闻列表</a></li>
                        <li><a href="#">评论</a></li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>

            <!--列表页面-->
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        文章title
                    </header>
                    <div class="innertop">
                       <div class="one">
                           <div class="text" >文章id：&nbsp;&nbsp;</div>
                           <div class="col-sm-10" style="width:500px">
                               <input type="text" class="form-control" >
                           </div>
                       </div>
                       <div class="one" style="height:400px;">
                           <div class="text" >评论内容：</div>
                           <div class="col-sm-10">
                               <textarea rows="15" cols="90">
                               </textarea>
                           </div>
                       </div>
                        <div class="one" >
                            <button type="submit" class="btn btn-danger" style="float:right;margin-right:10px;">刷新</button>
                            <button type="submit" class="btn btn-danger" style="float:right;margin-right:10px;">重置</button>
                            <button type="submit" class="btn btn-danger" style="float:right;margin-right:10px;">提交</button>
                        </div>

                    </div>
                </section>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>




        </section>

    </section>
    <!--main content end-->

	<%include ../common/foot.html%>

