*{
    margin:0;
    padding:0;
    list-style:none;
}
.innertop{
    width:100%;
    height:auto;
    margin:20px auto;
}
.innertop .one{
    width:100%;
    height:50px;
    float:left;
    overflow:hidden;
    padding:7px;
}
.innertop .one .radio{

}
.innertop .one .text{
    float:left;
    width:70px;
    height:50px;
    line-height:50px;

}
.innertop .one .radios{
    float:left;
}
