	<div class="modal fade in" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title"><%= title %></h4>
				</div>
				<div class="modal-body">

						<%= content %>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger close_ok" type="button"> Ok</button>
				</div>
			</div>
		</div>
	</div> 
