<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="__alertConfirm" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">操作确认</h4>
            </div>
            <div class="modal-body">您确认执行此操作吗?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-warning" id="__btnConfirmIt">确认</button>
            </div>
        </div>
    </div>
</div>