
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="" href="/index">
                    <i class="icon-dashboard"></i>
                    <span>发布管理</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="icon-laptop"></i>
                    <span>通用评论管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/common_comment/common_comment_list">添加通用评论</a></li>
                    <!--<li><a  href="/video/selfVideoList">添加分类</a></li>-->
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="icon-book"></i>
                    <span>统计</span>
                </a>
                <ul class="sub">
                    <li><a  href="/article/article_list">每天发送的文章</a></li>
                    <li><a  href="/article/jixiao">已发布的评论</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="icon-user"></i>
                    <span>管理员管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="/user/userList">用户管理</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->


    </div>
</aside>
<!--sidebar end-->
